<div class="article">
  <h1 class="article_title"><%= @article.title %></h1>
  <div class="article_detail">
    <%= image_tag 'no_image.jpeg' %>
    <div>
      <p><%= @article.user.name %></p>
      <p><%= @article.display_created_at %></p>
    </div>
    <% if user_signed_in? && current_user.has_written?(@article) %>
      <div class="article_detail_actions">
        <div class="dropdown">
          <%= image_tag 'actions.svg', class: 'dropbtn' %>
            <div class="dropdown-content mini">
              <%= link_to '編集する', edit_article_path(@article) %>
              <%= link_to '削除する', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="article_content">
    <%= @article.content %>
  </div>
  <div class="article_heart">
    <%= image_tag 'heart.svg' %>
  </div>
</div>
<div class="container">
  <div>
    <p>コメント件数：<%= @article.comments.count %></p>
    <% @article.comments.each do |comment| %>
      <p><%= image_tag "no_image.jpeg" %></p>
      <%= comment.user.name %>
      <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.content %>
      <% if comment.user == current_user %>
        <%= link_to "削除", article_comment_path(comment.article, comment), method: :delete %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form_with model: [@article, @comment] do |f| %>
      <%= f.text_area :content, rows: '5', placeholder: "コメントをここに" ,class: "comment_area"%>
      <%= f.submit "送信する", class: "btn-primary" %>
    <% end %>
  </div>
  
  <%= link_to "Topへ戻る", articles_path %>
</div>