<div class="article">
  <h1 class="article_title"><%= @article.title %></h1>
  <div class="article_detail">
    <%= link_to account_path(@article.user) do %>
      <%= image_tag 'no_image.jpeg' %>
    <% end %>
    <div>
      <p><%= @article.user.name %></p>
      <p><%= @article.display_created_at %></p>
    </div>
    <% if user_signed_in? && current_user.has_written?(@article) %>
      <div class="article_detail_actions">
        <div class="dropdown">
          <%= image_tag 'actions.svg', class: 'dropbtn' %>
            <div class="dropdown-content mini">
              <%= link_to '編集する', edit_article_path(@article) %>
              <%= link_to '削除する', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="article_content">
    <%= @article.content %>
  </div>
  <div id="show_like_<%= @article.id %>">
   <%= render 'likes/like', article: @article %>
  </div>
</div>
<div class="container">
  <div>
    <p>コメント件数：<%= @comments.count %></p>

    <div id="comments_area">
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
     <%= render 'comments/index', comments: @comments %>
    </div>
  </div>
  <div>
    <% if user_signed_in? %>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
      <%= render 'comments/form', {article: @article , comment: @comment} %>
    <% end %>
  </div>

  <%= link_to "Topへ戻る", articles_path %>
</div>